{% extends "base.html" %}
{% block titulo %} Detalles {{ cancion.nombre }} {% endblock %}
{% block contenido_principal %}
<div class="row">
    <div class="media col-xs-10">
        <div class="media-left media-middle">
            <img class="media-object" src="/portadas/{{ cancion._id.toString()
                }}.png">
        </div>
        <div class="media-body">
            <h2>{{ cancion.nombre }}</h2>
            <p>{{ cancion.autor }}</p>
            <p>{{ cancion.genero }}</p>
            <button type="button" class="btn btn-primary pull-right">
                {{cancion.precio }}€
            </button>
            <!-- Cambiar el precio por "reproducir" si ya está comprada -->
        </div>
    </div>
</div>